.header .navbar-light .navbar-toggler-icon,
.header .navbar-light .navbar-toggler-icon::before,
.header .navbar-light .navbar-toggler-icon::after,
.header,
.home-section,
.section-title .title::before,
.features-section .features-item:hover,
.products-section .owl-carousel .owl-nav button.owl-next,
.products-section .owl-carousel .owl-nav button.owl-prev,
.testimonial-section::before,
.newsletter-section::before,
.btn.mybtn2,
.footer  {
    background-color: #4948d4;
}

.footer .footer-social-links a:hover i,
.contact-section .contact-item h5,
.contact-section .contact-item .icon i,
.testimonial-section .owl-carousel .owl-nav button.owl-next,
.testimonial-section .owl-carousel .owl-nav button.owl-prev ,
.products-section .product-content .product-price .new-price,
.features-section .features-item .icon i ,
.about-section .about-content ul li i,
.section-title .title,
.mybtn1:hover,
.mybtn1,
.testimonial-section .client-info h5,
.faq-section .support-text a {
    color: #4948d4;
}

.contact-section .contact-form .form-control:focus,
.testimonial-section .client-info img {
    border-color: #4948d4;
}

.perloder .loder {
    border-right: 5px solid #4948d4;
}

@media(max-width: 991px) {
    .header .navbar #collapsibleNavbar .nav-item .nav-link {
        color: #4948d4;
    }
}